.product-container {
    margin-top: 16px;
}

.product-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
}

.product-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 12px;
    color: #ff5117;
}

.product-item {
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.1s linear;
    background-color: #fff;
    border: 1px solid var(--border);
    display: flex;
    flex-direction: column;
}

.product-item-name {
    font-size: 16px;
    font-weight: 400;
}

.product-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
}

.product-item-price {
    font-size: 13px;
    margin-top: 2px;
    color: var(--red);
}

.product-item img {
    width: 100%;
    aspect-ratio: 9/12;
    border-radius: 8px;
    object-fit: cover;
    transition: all 0.1s linear;
}

.product-item-info {
    flex: 1;
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-reaction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    margin-top: 6px;
    font-size: 12px !important;
}

.product-reaction i {
    font-size: 14px;
    color: #ffd700;
}

@media (max-width: 1024px) {
    .product-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .product-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .product-list {
        grid-template-columns: repeat(1, 1fr);
    }
}
